name: "Extended Tests: Matrix"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'

jobs:
  find-lifecycles:
    uses: ./.github/workflows/find-lifecycles.yaml
  extended-tests:
    needs: [find-lifecycles]
    uses: ./.github/workflows/extended-test.yaml
    with:
      lifecycle: ${{ matrix.lifecycle }}
    if: needs.find-lifecycles.outputs.lifecycles != '[]'
    strategy:
      fail-fast: false
      matrix:
        lifecycle: ${{ fromJSON(needs.find-lifecycles.outputs.lifecycles) }}